/* Media query for tablets */
@media (min-width: 768px) {
  .div-class {
    max-width: 500px; /* Adjust width for larger devices */
  }
}

/* Media query for desktops */
@media (min-width: 992px) {
  .div-class {
    max-width: 800px; /* Adjust width for larger devices */
  }
}

.mainBody {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(207, 197, 207, 0.767);
    padding-top: 10px;
    color: white;
  }

  .container .mainrow{
    height: 100%;
    /* position: relative;
    z-index: 100; */
    border-radius: 10px;
  }

  /* left Part CSS */

 .leftPart{
    background-color: rgb(64, 197  , 156) ;
    height: 100%;
    /* border-radius: 10px; */
  }
  .profileImage img {
    /* Add your styles here */
    width: 200px; /* Set a fixed width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 70%; /* Make the image round */
    border: 3px solid #333; /* Add a border */
    display: block; /* Display block to remove bottom space */
    margin: 0 auto; /* Center the image */
    /* More styles can be added as needed */
}

.socialConnect{
    text-align: center;
    margin-top: 30px;
}

.socialConnect img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.8; /* Icons are slightly transparent until hovered */
    
}

.socialConnect img:hover {
    transform: scale(1.2); /* Icon grows to 120% of its size */
    opacity: 1; /* Icon becomes fully opaque */
}

.list-items{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

ul{
    list-style-type: none;
}

ul a{
    text-decoration: none;
}

ul li a{
    color: white;
    transition: font-size 0.3s ease;
    font-size: 16px;
    display: block;
    transform-origin: center;
}

ul li a:hover{
    color: rgb(183, 236, 225);
}

/* Righpart CSS */

  .rightPart{
    background-color: rgb(240, 240, 243);
    color: rgb(0, 0, 0);
    height: 100%;
    /* border-radius: 10px; */
  }

  /* .rightPart div{
    background-color: rgb(248, 2, 2);
    height: 100%;
  } */

.rightPart .mydetails{
    background-color: rgb(228, 238, 240);
    padding: 10px;
    height: auto;
   
}

.rightPart .mydetails .profilePhoto img{
    height: 250px;
    width: 250px;
    /* border-radius: 5%; */
    padding-right: 10px;
}

.rightPart .more-info{
    background-color: rgb(255, 255, 255);
    height: 372px;
    padding: 10px;
    font-size:medium;
    overflow: auto;
}

.vertical-line {
  border-left: 4px solid green; /* This creates the vertical line */
  height: 25%; /* Adjust the height as needed */
  display: inline-block; /* Allows the line to sit next to your text */
  margin-right: 10px; /* Provides some space between the line and the text */
}

.vertical-line h4{
  margin-left: 20px;
}
